<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="Calihan Ordering Guide" class="img-responsive text-center" src="http://static1.squarespace.com/static/52f90947e4b063e781341d2a/52f90fd6e4b0b0c35061de16/52f91029e4b03f115ea74fd0/1392063565760/bg3.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Calihan Catering Order Guide
			</p>
		</div>

	</div>
	<div>
		<h2>Welcome to the Calihan ordering guide.</h2>
		<p>This ordering guide was created to help JAM do his job more good.</p>
		<p>You will need to log in to do anything useful.</p>
		<p>
				Click
				<em>Create Account</em>
				to get started.
		</p>
	</div>
	
	<br>copyright &copy; 2015 aloysius code studios.
</section>